{% extends "base.html" %}

{% block body %}
  <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="card text-center">
      <h1 class="mb-3">Welcome to University Helpdesk</h1>
      <p class="mb-4">Your one-stop solution for university support services</p>
      <div class="d-grid gap-3">
        <a href="{% url 'log_in' %}" class="outer-cont">
        Log In
        </a>
        <a href="{% url 'sign_up' %}" class="outer-cont">
        Sign Up
        </a>
      </div>
    </div>
  </div>
{% endblock %}
