{% extends 'base.html' %}
{% load form_tags %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%; border-radius: 10px;">
        <h2 class="text-center">Reset Password</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="email" name="email" class="form-control mb-3"/>
            <button type="submit" class="btn btn-primary w-100">Send Password Link</button>
        </form>
    </div>
</div>
{% endblock %}