{% extends 'base.html' %}


{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%; border-radius: 10px;">
        <h2 class="text-center">Reset Password</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert
            {% if message.tags == 'error' %} alert-danger
            {% elif message.tags == 'success' %} alert-success
            {% elif message.tags == 'warning' %} alert-warning
            {% elif message.tags == 'info' %} alert-info
            {% else %} alert-secondary {% endif %}">
            {{ message }}
        </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="text-primary" >New Password: </label>
                <input type="password" name="new_password" class="form-control mb-3"/>
            </div>
             <div class="form-group">
                <label class="text-primary" >Confirm Password: </label>
                <input type="password" name="confirm_password" class="form-control mb-3"/>
            </div>
            <input type="hidden" name="token" value="{{ token }}">
            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}